<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
    <!--creating link for style.css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <!--Header start-->
      <header class="header">
        <div class="container">
          <!--Page Navigation Start-->
          <nav class="nav-bar">
            <!--nav tag represent the section of navigation links-->
            <!--Logo -->
            <div id="logo">
              <a href="index.html"><img src="img/logo.png" alt="..." /></a>
            </div>
            <!--Logo -->
            <!---navigation list-->
            <div class="navigation">
              <ul>
                <!--class active to show which page we are at-->
                <!--Class icon is the main class and icon-home is sub main class-->
                <li>
                  <a href="index.html"
                    ><span class="icon icon-home"></span>Home</a
                  >
                </li>
                <li>
                  <a class="active" href="news.html"
                    ><span class="icon icon-news"></span>News</a
                  >
                </li>
                <li>
                  <a href="faqs.html"><span class="icon icon-faq"></span>FAQ</a>
                </li>
                <li>
                  <a href="aboutus.html"
                    ><span class="icon icon-about"></span>About Us</a
                  >
                </li>
              </ul>
            </div>
            <!---navigation list-->
          </nav>
        </div>
        <!--Page Navigation ends-->
      </header>
      <main id="main">
        <div class="container-news">
          <section class="section-news">
            <h1>Tax News</h1>
            <div class="news-container">
              <div class="description">
                <artcle class="articles">
                  <div class="heading">
                    <a href="inside-news.html"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                    <div class="desc-visible">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Ad dolor veritatis harum, enim illo iste tenetur nesciunt. Soluta temporibus, sequi expedita, tempora aliquam cum voluptates tenetur dicta vel labore. Alias.</p>  
                      <a class="show-more" href="inside-news.html">View Full Coverage</a>
                    </div>
                  </div>
                  <figure class="side-image">
                    <img src="https://via.placeholder.com/300.png/09f/fff C/O https://placeholder.com/">
                  </figure>
                </artcle>
              </div>  
              <div class="description">
                <artcle class="articles">
                  <div class="heading">
                    <a href="inside-news.html"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                    <div class="desc-visible">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Ad dolor veritatis harum, enim illo iste tenetur nesciunt. Soluta temporibus, sequi expedita, tempora aliquam cum voluptates tenetur dicta vel labore. Alias.</p>  
                      <a class="show-more" href="inside-news.html">View Full Coverage</a>
                    </div>
                  </div>
                  <figure class="side-image">
                    <img src="https://via.placeholder.com/300.png/09f/fff C/O https://placeholder.com/">
                  </figure>
                </artcle>
              </div>  
              <div class="description">
                <artcle class="articles">
                  <div class="heading">
                    <a href="inside-news.html"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                    <div class="desc-visible">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Ad dolor veritatis harum, enim illo iste tenetur nesciunt. Soluta temporibus, sequi expedita, tempora aliquam cum voluptates tenetur dicta vel labore. Alias.</p>  
                      <a class="show-more" href="inside-news.html">View Full Coverage</a>
                    </div>
                  </div>
                  <figure class="side-image">
                    <img src="https://via.placeholder.com/300.png/09f/fff C/O https://placeholder.com/">
                  </figure>
                </artcle>
              </div>  
              <div class="description">
                <artcle class="articles">
                  <div class="heading">
                    <a href="inside-news.html"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                    <div class="desc-visible">
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Ad dolor veritatis harum, enim illo iste tenetur nesciunt. Soluta temporibus, sequi expedita, tempora aliquam cum voluptates tenetur dicta vel labore. Alias.</p>  
                      <a class="show-more" href="inside-news.html">View Full Coverage</a>
                    </div>
                  </div>
                  <figure class="side-image">
                    <img src="https://via.placeholder.com/300.png/09f/fff C/O https://placeholder.com/">
                  </figure>
                </artcle>
              </div>  
         </section>
          <aside class="recent-side-news">
            <h1>latest-news<h1>
            <div class="latest-news">
                <artcle class="latest">
                  <a href="#"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                </artcle>
                <artcle class="latest">
                  <a href="#"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                </artcle>
                <artcle class="latest">
                  <a href="#"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                </artcle>
                <artcle class="latest">
                  <a href="#"><h3>I plan to sell my house. How do I calculate the long term capital gains and save on tax?<h3></a>
                </artcle>
            </div>
          </aside>
        </div>
      </main>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
